.wrap {
    font-family: Arial, sans-serif;
}

.wp-list-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

.wp-list-table th,
.wp-list-table td {
    padding: 10px;
    border: 1px solid #ddd !important;
    text-align: center;
}

.wp-list-table th {
    background-color: #0073aa !important;
    color: white;
}

.delete-booking {
    background-color: #d9534f !important;
    border: none;
    color: white;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 3px;
}

.delete-booking:hover {
    background-color: #c9302c !important;
}

.wrap h1 {
    margin-bottom: 20px;
}

.form-table th {
    text-align: left;
    padding: 10px;
    vertical-align: top;
    width: 25%;
}

.form-table td {
    padding: 10px;
}

textarea {
    width: 100%;
    max-width: 500px;
}